{:nrepl {:port 7002}
 :builds
 {:app
  {:target     :browser
   :output-dir "target/cljsbuild/public/js"
   :asset-path "/js"
   :modules    {:app {:entries [fuelsurcharges.app]}}
   :devtools   {:watch-dir "resources/public"
                :preloads  [devtools.preload
                            day8.re-frame-10x.preload
                            shadow.remote.runtime.cljs.browser]}
   :dev        {:compiler-options
                {:optimization    :none
                 :closure-defines {re_frame.trace.trace_enabled?                true
                                   "re_frame.trace.trace_enabled_QMARK_"        true
                                   "day8.re_frame.tracing.trace_enabled_QMARK_" true
                                   "goog.DEBUG"                                 true}}}}
  :test
  {:target    :node-test
   :output-to "target/test/test.js"
   :autorun   true}}
 :lein  true}
