@tailwind base;
@tailwind components;
@tailwind utilities;

.display-flex {
    display: -webkit-flex;
    display: flex;
}
.display-inline-flex {
    display: -webkit-inline-flex;
    display: inline-flex;
}

.h-box {
    @apply .flex .flex-row
}

.v-box {
    @apply .flex .flex-col
}

.change-direction--positive {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 12px;
    border-color: transparent transparent #1ecd93;
}

.change-direction--negative {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 6px 0;
    border-color: #ff433d transparent transparent;
    border-top-color: rgb(255, 67, 61);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

a:hover {
    text-decoration: underline;
}
